<footer>
    <nav class="navbar bg-light fixed-bottom">
        <div class="container-fluid">
          <a class="navbar-brand">
            <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            &copy Matthew Briffett Fall 2022
          </a>
        </div>
      </nav>
</footer>